[package]
name = "agent"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.51", features = ["derive"] }
one_collect = { path = "../one-collect/one_collect" }
windows = "0.62.2"
